{% load static %}
<!-- About working area start -->
<section class="about-working pt-90 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left text-sm-center">
        <div class="fancy-head center-al mb-40 wow fadeInUp">
          <h1>Nos Valeurs De Travail</h1>
        </div>
      </div>
    </div>
    <div class="row mb-10">
      <div class="col-lg-4 col-sm-6 text-left">
        <div class="icon-box d-flex why-work-box wow fadeInUp">
          <div class="icon-img mr-20 mb-md-10">
            <img src="{% static "img/career/1.png" %}" alt="Icon" />
          </div>
          <div class="icon-text">
            <h5 class="f-700">Heure De Travail Flexible</h5>
            <p>Quisque enim ipsum, commodo et venenatis rutrum.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 text-left">
        <div class="icon-box d-flex why-work-box wow fadeInUp">
          <div class="icon-img mr-20 mb-md-10">
            <img src="{% static "img/career/2.png" %}" alt="Icon" />
          </div>
          <div class="icon-text">
            <h5 class="f-700">Bonus Offert</h5>
            <p>Quisque enim ipsum, commodo et venenatis rutrum.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 text-left">
        <div class="icon-box d-flex why-work-box wow fadeInUp">
          <div class="icon-img mr-20 mb-md-10">
            <img src="{% static "img/career/3.png" %}" alt="Icon" />
          </div>
          <div class="icon-text">
            <h5 class="f-700">Meilleurs Salaires</h5>
            <p>Quisque enim ipsum, commodo et venenatis rutrum.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 text-left">
        <div class="icon-box d-flex why-work-box wow fadeInUp">
          <div class="icon-img mr-20 mb-md-10">
            <img src="{% static "img/career/4.png" %}" alt="Icon" />
          </div>
          <div class="icon-text">
            <h5 class="f-700">6 Mois De Stage</h5>
            <p>Quisque enim ipsum, commodo et venenatis rutrum.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 text-left">
        <div class="icon-box d-flex why-work-box wow fadeInUp">
          <div class="icon-img mr-20 mb-md-10">
            <img src="{% static "img/career/5.png" %}" alt="Icon" />
          </div>
          <div class="icon-text">
            <h5 class="f-700">Joie De Vivre</h5>
            <p>Quisque enim ipsum, commodo et venenatis rutrum.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 text-left">
        <div class="icon-box d-flex why-work-box wow fadeInUp">
          <div class="icon-img mr-20 mb-md-10">
            <img src="{% static "img/career/6.png" %}" alt="Icon" />
          </div>
          <div class="icon-text">
            <h5 class="f-700">Cantine Offert</h5>
            <p>Quisque enim ipsum, commodo et venenatis rutrum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a
          href="{{emplois.video_link}}"
          class="btn btn-round-border popup-video wow fadeInRight"
          ><i class="fas fa-play mr-15"></i>Voir En Vidéo</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hr-2 bg-light-white mb-60 mt-60"></div>
      </div>
      <div class="col-lg-12">
        <div class="owl-carousel owl-theme work-gallaty">
          <div class="item">
            <div class="each-gallery career-gallery">
              <a
                class="gallery-links"
                href="{% static "img/gallery/gal1-big.jpg" %}"
                title="Gallery description here">
                <img src="{% static "img/gallery/gal1.jpg" %}" alt="" />
                <div class="full-cover bg-green-op-8 transition-4">
                  <i class="fas fa-expand-arrows-alt transform-center"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="each-gallery career-gallery">
              <a
                class="gallery-links"
                href="{% static "img/gallery/gal2-big.jpg" %}"
                title="Gallery description here">
                <img src="{% static "img/gallery/gal2.jpg" %}" alt="" />
                <div class="full-cover bg-green-op-8 transition-4">
                  <i class="fas fa-expand-arrows-alt transform-center"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="each-gallery career-gallery">
              <a
                class="gallery-links"
                href="{% static "img/gallery/gal3-big.jpg" %}"
                title="Gallery description here">
                <img src="{% static "img/gallery/gal3.jpg" %}" alt="" />
                <div class="full-cover bg-green-op-8 transition-4">
                  <i class="fas fa-expand-arrows-alt transform-center"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="each-gallery career-gallery">
              <a
                class="gallery-links"
                href="{% static "img/gallery/gal4-big.jpg" %}"
                title="Gallery description here">
                <img src="{% static "img/gallery/gal4.jpg" %}" alt="" />
                <div class="full-cover bg-green-op-8 transition-4">
                  <i class="fas fa-expand-arrows-alt transform-center"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="each-gallery career-gallery">
              <a
                class="gallery-links"
                href="{% static "img/gallery/gal5-big.jpg" %}"
                title="Gallery description here">
                <img src="{% static "img/gallery/gal5.jpg" %}" alt="" />
                <div class="full-cover bg-green-op-8 transition-4">
                  <i class="fas fa-expand-arrows-alt transform-center"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="each-gallery career-gallery">
              <a
                class="gallery-links"
                href="{% static "img/gallery/gal6-big.jpg" %}"
                title="Gallery description here">
                <img src="{% static "img/gallery/gal6.jpg" %}" alt="" />
                <div class="full-cover bg-green-op-8 transition-4">
                  <i class="fas fa-expand-arrows-alt transform-center"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="each-gallery career-gallery">
              <a
                class="gallery-links"
                href="{% static "img/gallery/gal1-big.jpg" %}"
                title="Gallery description here">
                <img src="{% static "img/gallery/gal1.jpg" %}" alt="" />
                <div class="full-cover bg-green-op-8 transition-4">
                  <i class="fas fa-expand-arrows-alt transform-center"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About working area end -->
