<!-- Experience Cta start -->
<section
  class="experience-cta pt-100 pb-100"
  style="background-image: url('img/bg/bg-2.jpg')"
  data-overlay="9">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 z-5 text-center text-lg-left wow fadeIn">
        <div class="exp-cta pr-50 pr-lg-00">
          <h1 class="white f-700 mb-10">
            <span class="green">25 Ans</span> d'Experience dans
            <span class="green">l'Industrie</span>
          </h1>
          <p class="white mb-55 mb-md-30 pr-60 pr-md-00">
            Quisque enim ipsum, commodo et venenatis rutrum, luctus in enim.
            Quisque dapibus
          </p>
          <a href="/contact-us.php" class="btn btn-square blob-small"
            >Contactez-Nous
            <i class="fas fa-long-arrow-alt-right ml-20"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-6 mt-md-60">
        <div class="row no-gutters">
          <div class="col-sm-6 text-center">
            <div
              class="each-count-up shade z-5 wow fadeIn"
              data-wow-delay=".2s">
              <h2 class="fs-40 f-900 green mb-20 mt-5">
                <span class="counter">3000</span>+
              </h2>
              <p class="uppercase white mb-0">Clients Satisfaits</p>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="each-count-up z-5 wow fadeIn" data-wow-delay=".4s">
              <h2 class="fs-40 f-900 green mb-20 mt-5">
                <span class="counter">250</span>+
              </h2>
              <p class="uppercase white mb-0">Trophées Gagnés</p>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="each-count-up z-5 wow fadeIn" data-wow-delay=".6s">
              <h2 class="fs-40 f-900 green mb-20 mt-5">
                <span class="counter">350</span>+
              </h2>
              <p class="uppercase white mb-0">Professionels</p>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div
              class="each-count-up z-5 shade wow fadeIn"
              data-wow-delay=".8s">
              <h2 class="fs-40 f-900 green mb-20 mt-5">
                <span class="counter">5300</span>+
              </h2>
              <p class="uppercase white mb-0">Projects Completés</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Experience Cta end -->
