<!-- Faq area start -->
<section class="faq-area relative bg-light-white">
  <div
    class="bg-faq-img h-100 bg-cover d-none d-lg-block col-lg-5"
    style="background-image: url('img/bg/bg-faq.jpg')"></div>
  <div class="container-fluid p-0">
    <div class="row no-gutters faq-row">
      <div class="col-lg-7 offset-lg-5 pt-95 pb-85">
        <div class="faq-right-area">
          <div class="row align-items-end mb-25">
            <div class="col-lg-12 text-center text-lg-left">
              <div class="fancy-head left-al">
                <h5 class="line-head mb-15">
                  <span class="line before d-lg-none"></span>
                  Faq
                  <span class="line after"></span>
                </h5>
                <h1>Questions Fréquents Posées</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="faq-box">
                <div id="accordion">
                  <div class="card">
                    <div
                      class="card-header"
                      id="headingOne"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                      role="button">
                      <h5 class="mb-0">
                        Lorem ipsum dolor sit amet, consectetur?
                      </h5>
                    </div>

                    <div
                      id="collapseOne"
                      class="collapse show"
                      aria-labelledby="headingOne"
                      data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high
                        life accusamus terry richardson ad squid. 3 wolf moon
                        officia aute, non cupidatat skateboard dolor brunch.
                        Food truck quinoa nesciunt.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div
                      class="card-header collapsed"
                      id="headingTwo"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                      role="button">
                      <h5 class="mb-0">Aenean lobortis feugiat mauris at?</h5>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordion">
                      <div class="card-body">
                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                        wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div
                      class="card-header collapsed"
                      id="headingThree"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                      role="button">
                      <h5 class="mb-0">
                        Nulla porttitor risus id mauris viverra?
                      </h5>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high
                        life accusamus terry richardson ad squid. 3 wolf moon
                        officia aute, non cupidatat skateboard dolor brunch.
                        Food truck quinoa nesciunt.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div
                      class="card-header collapsed"
                      id="headingFour"
                      data-toggle="collapse"
                      data-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseFour"
                      role="button">
                      <h5 class="mb-0">Phasellus pulvinar porttitor?</h5>
                    </div>
                    <div
                      id="collapseFour"
                      class="collapse"
                      aria-labelledby="headingFour"
                      data-parent="#accordion">
                      <div class="card-body">
                        Maecenas bibendum leo a velit tristique, sed ornare ante
                        aliquet. Nullam nec magna vel nulla vehicula auctor. Sed
                        a posuere eros. Curabitur molestie sodales orci ac
                        laoreet. Nam mi tellus.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Faq area end -->
