{% extends 'base-home.html' %} 
{% load static %}
{% block content %}

    <body>

        <!-- immer banner start -->
        <section class="inner-banner pt-80 pb-95" style="background-image: url('{% static "img/banner/inner-banner.jpg" %}');" data-overlay="7">
            <div class="container">
                <div class="row z-5 align-items-center">
                    <div class="col-md-8 text-center text-md-left">
                        <h1 class="f-700 green">FAQ</h1>
                        <span class="green-line bg-green d-none d-md-inline-block"></span>
                    </div>
                    <div class="col-md-4 text-center text-md-right">
                        <nav aria-label="breadcrumb" class="banner-breadcump">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home fs-12 mr-5"></i>Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <!-- blog details area start -->
        <section class="service-details pt-100 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="faq-outer">
                            <!-- faq grou 1 -->
                            <h4 class="line-right green f-700 fs-24">Financial Planning</h4>
                            <div class="faq-box bodered-faq mt-15 mb-50">
                                <div id="accordion1">
                                    <div class="card">
                                        <div class="card-header" id="heading1" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" role="button">
                                            <h5 class="mb-0">
                                                Lorem ipsum dolor sit amet, consectetur?
                                            </h5>
                                        </div>

                                        <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion1">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header  collapsed" id="heading2" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2" role="button">
                                            <h5 class="mb-0">
                                                Aenean lobortis feugiat mauris at?
                                            </h5>
                                        </div>
                                        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion1">
                                            <div class="card-body">
                                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                                aliqua put a bird on it squid single-origin coffee nulla assumenda
                                                shoreditch et.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header collapsed" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" role="button">
                                            <h5 class="mb-0">
                                                Nulla porttitor risus id mauris viverra?
                                            </h5>
                                        </div>
                                        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion1">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header collapsed" id="heading4" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" role="button">
                                            <h5 class="mb-0">
                                                Nulla porttitor risus id mauris viverra?
                                            </h5>
                                        </div>
                                        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion1">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- faq grou1 end -->

                            <!-- faq grou 2 -->
                            <h4 class="line-right green f-700 fs-24">Business Management</h4>
                            <div class="faq-box bodered-faq mt-15 mb-50">
                                <div id="accordion2">
                                    <div class="card">
                                        <div class="card-header" id="heading5" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5" role="button">
                                            <h5 class="mb-0">
                                                Lorem ipsum dolor sit amet, consectetur?
                                            </h5>
                                        </div>

                                        <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordion2">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header  collapsed" id="heading6" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6" role="button">
                                            <h5 class="mb-0">
                                                Aenean lobortis feugiat mauris at?
                                            </h5>
                                        </div>
                                        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion2">
                                            <div class="card-body">
                                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                                aliqua put a bird on it squid single-origin coffee nulla assumenda
                                                shoreditch et.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header collapsed" id="heading7" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7" role="button">
                                            <h5 class="mb-0">
                                                Nulla porttitor risus id mauris viverra?
                                            </h5>
                                        </div>
                                        <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion2">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header collapsed" id="heading8" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8" role="button">
                                            <h5 class="mb-0">
                                                Nulla porttitor risus id mauris viverra?
                                            </h5>
                                        </div>
                                        <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion2">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- faq group2 end -->

                            <!-- faq group 3 -->
                            <h4 class="line-right green f-700 fs-24">Investment Planning</h4>
                            <div class="faq-box bodered-faq mt-15 mb-50">
                                <div id="accordion3">
                                    <div class="card">
                                        <div class="card-header" id="heading9" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9" role="button">
                                            <h5 class="mb-0">
                                                Lorem ipsum dolor sit amet, consectetur?
                                            </h5>
                                        </div>

                                        <div id="collapse9" class="collapse show" aria-labelledby="heading9" data-parent="#accordion3">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header  collapsed" id="heading10" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10" role="button">
                                            <h5 class="mb-0">
                                                Aenean lobortis feugiat mauris at?
                                            </h5>
                                        </div>
                                        <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion3">
                                            <div class="card-body">
                                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                                aliqua put a bird on it squid single-origin coffee nulla assumenda
                                                shoreditch et.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header collapsed" id="heading11" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11" role="button">
                                            <h5 class="mb-0">
                                                Nulla porttitor risus id mauris viverra?
                                            </h5>
                                        </div>
                                        <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion3">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header collapsed" id="heading12" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12" role="button">
                                            <h5 class="mb-0">
                                                Nulla porttitor risus id mauris viverra?
                                            </h5>
                                        </div>
                                        <div id="collapse12" class="collapse" aria-labelledby="heading8" data-parent="#accordion3">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- faq grou3 end -->

                        </div>
                    </div>
                    <!-- right-part -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="right-box bg-light-white mb-30">
                            <div class="right-box-head">
                                <h4>Recherche</h4>
                            </div>
                            <div class="right-box-content">
                                <form action="#" class="relative mt-10 mb-10">
                                    <input type="text" class="form-control input-white search-white" id="search2" placeholder="Recherche Ici..">
                                    <i class="fas fa-search transform-v-center green"></i>
                                </form>
                            </div>
                        </div>

                        <div class="right-box bg-light-white mb-30">
                            <div class="right-box-head">
                                <h4>Besoin d'Aide?</h4>
                            </div>
                            <div class="right-box-content">
                                <ul class="mt-10 mb-10">
                                    <li>
                                        <div class="d-flex">
                                            <div class="icon-round-box">
                                                <div class="icon-round-box-icon">
                                                    <i class="fas fa-phone-volume green"></i>
                                                </div>
                                            </div>
                                            <div class="icon-round-box-text">
                                                <p><span>Phone:</span> (+223) 70-16-33-86</p>
                                                <p><span>Mob:</span> (+223) 68-38-82-92</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <div class="icon-round-box">
                                                <div class="icon-round-box-icon">
                                                    <i class="far fa-envelope green"></i>
                                                </div>
                                            </div>
                                            <div class="icon-round-box-text">
                                                <p>jobs@futuriste-ai.ml</p>
                                                <p>contact@futuriste-ai.ml</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <div class="icon-round-box">
                                                <div class="icon-round-box-icon">
                                                    <i class="fas fa-map-marker-alt green"></i>
                                                </div>
                                            </div>
                                            <div class="icon-round-box-text">
                                                <p>223 Tabacoro,Bamako, Mali</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="right-box bg-light-white mb-30">
                            <div class="right-box-head">
                                <h4>Suivez-Nous</h4>
                            </div>
                            <div class="right-box-content">
                                <div class="social-profile mt-10 mb-10">
                                    <a href="#" class="social-profile-box">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#" class="social-profile-box">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#" class="social-profile-box">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                    <a href="#" class="social-profile-box">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                    <a href="#" class="social-profile-box">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="right-box ad-banner bg-light-white mb-30">
                            <a href="#" class="d-block ">
                                <img src="img/service/ad-banner.jpg" class="w-100" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog details area end -->
{% endblock %}